*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
    interpolate-size: allow-keywords;
  }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header,
footer {
    padding: 20px 0;
    background-color: rgb(57, 59, 70);
    color: white;
}

.title,
.made-by {
    text-align: center;
}

main {
    position: relative;
    background-color: rgb(66, 142, 212);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    width: 20%;
}

.dialog > p {
    font-size: 2rem;
}

.dialog > button {
    width: 100px;
    height: 100px;
    font-size: 1.2rem;
}

.bottom-container {
    display: flex;
    align-items: stretch;
}

.boards {
    display: flex;
}

.player1 > h2,
.player2 > h2 {
    text-align: center;
}

.board1,
.board2,
.board-init {
    position: relative;
    display: grid;
    grid: repeat(10, 1fr) / repeat(10, 1fr);
    width: 28vw;
    margin: 18px;
    padding: 8px;
    border: 1px solid black;
}

.box {
    aspect-ratio: 1 / 1;
    background-color: white;
    border: 1px dotted black;
}

.drag {
    display: flex;
    flex-direction: column;
    width: 18vw;
    margin: 18px;
    padding: 8px;
    border: 1px solid black;
}

.drag-ships {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 8%;
    border: 1px solid black;
}

.carrier.horizontal {
    height: 11%;
    width: 95%;
    margin-bottom: 8%;
    background-color: black;
}

.carrier.vertical {
    height: 60%;
    width: 18%;
    margin-right: 4%;
    background-color: black;
}

.battleship.horizontal {
    height: 11%;
    width: 76%;
    margin-bottom: 8%;
    background-color: black;
}

.battleship.vertical {
    height: 48%;
    width: 18%;
    margin-right: 4%;
    background-color: black;
}

.destroyer.horizontal,
.submarine.horizontal {
    height: 11%;
    width: 57%;
    margin-bottom: 8%;
    background-color: black;
}

.destroyer.vertical,
.submarine.vertical {
    height: 36%;
    width: 18%;
    margin-right: 4%;
    background-color: black;
}

.patrol-boat.horizontal {
    height: 11%;
    width: 38%;
    margin-bottom: 8%;
    background-color: black;
}

.patrol-boat.vertical {
    height: 24%;
    width: 18%;
    background-color: black;
}

.hover-enabled:hover {
    background-color: lightgray;
}

.unclickable {
    pointer-events: none;
}

.ship1,
.ship2 {
    background-color: black;
}

.box.miss {
    background-color: yellow;
}

.box.hit {
    background-color: red;
}

.invisible {
    background-color: white;
}

.changeover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkslateblue;
}