@import url('https://fonts.googleapis.com/css2?family=Libertinus+Keyboard&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Keyboard&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Flavors&family=Playwrite+US+Modern:wght@100..400&display=swap');

:root {
  --color-1: rgb(18, 30, 59);
  --color-2: rgb(24, 71, 133);
  --color-3: rgb(38, 122, 170);
  --color-4: rgb(65, 168, 194);
  --color-5: rgb(235, 250, 255);

}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
    interpolate-size: allow-keywords;
  }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header,
footer {
    padding: 10px 0;
    background-color: var(--color-1);
    color: white;
}

.title {
    text-align: center;
    font-family: "Flavors", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(2rem, 4vw, 5rem);
    color: var(--color-5);
}

.made-by {
    text-align: center;
}

main {
    position: relative;
    background-image: url('../img/layered-waves.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3%;
    border-radius: 16px;
}

.dialog > p {
    font-size: clamp(1rem, 3vw, 3rem);
}

.dialog-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-buttons > button {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    width: clamp(120px, 16%, 360px);
    margin: 4%;
    padding: 10px;
    border: 3px solid var(--color-2);
    border-radius: 20px;
    background-color: var(--color-1);
    transition: transform 300ms ease-out;
}

.dialog-buttons button img {
    width: 30%;
}

.dialog-buttons > button:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: var(--color-2);
}

.top-container > h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1rem, 3vw, 3rem);
    color: var(--color-5);
}

.top-container h2 img {
    width: clamp(2.5rem, 5vw, 5rem);
}

.bottom-container {
    display: flex;
    align-items: stretch;
}

.boards {
    display: flex;
}

.player1 > h2,
.player2 > h2 {
    text-align: center;
}

.player-icon {
    width: 100px;
}

.board1,
.board2,
.board-init {
    position: relative;
    display: grid;
    grid: repeat(10, 1fr) / repeat(10, 1fr);
    width: 28vw;
    margin: 18px;
    padding: 8px;
    border: 1px solid black;
}

.box {
    aspect-ratio: 1 / 1;
    background-color: var(--color-5);
    border: 1px dotted black;
}

.drag {
    display: flex;
    flex-direction: column;
    width: 18vw;
    margin: 18px;
    padding: 8px;
    border: 1px solid black;
}

.drag-btn.unclickable {
    background-color: rgb(100, 100, 100);
}

.drag-ships {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 8%;
    border: 1px solid black;
}

.carrier.horizontal {
    height: 11%;
    width: 95%;
    margin-bottom: 8%;
    background-color: var(--color-1);
}

.carrier.vertical {
    height: 60%;
    width: 18%;
    margin-right: 4%;
    background-color: var(--color-1);
}

.battleship.horizontal {
    height: 11%;
    width: 76%;
    margin-bottom: 8%;
    background-color: var(--color-1);
}

.battleship.vertical {
    height: 48%;
    width: 18%;
    margin-right: 4%;
    background-color: var(--color-1);
}

.destroyer.horizontal,
.submarine.horizontal {
    height: 11%;
    width: 57%;
    margin-bottom: 8%;
    background-color: var(--color-1);
}

.destroyer.vertical,
.submarine.vertical {
    height: 36%;
    width: 18%;
    margin-right: 4%;
    background-color: var(--color-1);
}

.patrol-boat.horizontal {
    height: 11%;
    width: 38%;
    margin-bottom: 8%;
    background-color: var(--color-1);
}

.patrol-boat.vertical {
    height: 24%;
    width: 18%;
    background-color: var(--color-1);
}

.hover-enabled:hover {
    background-color: var(--color-4);
}

.unclickable {
    pointer-events: none;
}

.ship1,
.ship2 {
    background-color: var(--color-1);
}

.box.miss {
    background-color: yellow;
}

.box.hit {
    background-color: red;
}

.invisible {
    background-color: white;
}

.changeover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/layered-waves.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}